.events-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.events-events {
  width: 100%;
  height: 1319px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.39);
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(24, 40, 37, 0.699999988079071);
}
.events-header {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 133px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(244, 68, 45, 1);
}
.events-app-logo {
  top: 6px;
  left: 26.26727294921875px;
  width: 98px;
  height: 99px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.events-profile-button {
  /* top: 23px; */
  top: 30px;
  right: 5px;
  /* width: 236px; */
  width: auto;
  display: flex;
  z-index: 101;
  position: absolute;
  text-align: right;
  transition: 0.3s;
  margin-left: 2vw;
  padding-top: 1rem;
  border-color: #000000;
  border-width: 5px;
  margin-right: 1vw;
  padding-left: 2rem;
  border-radius: 40px;
  padding-right: 1rem;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: flex-end;
  background-color: #D9D9D9;
}
.events-profile-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.events-profile-icon {
  top: 0px;
  left: 10px;
  /* width: 70px; */
  width: 22%;
  bottom: 0px;
  /* height: 70px; */
  height: auto;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
}
.events-text {
  /* font-size: 40px; */
  font-size: 20px;
  text-align: right;
  font-family: Comic Sans MS;
  /*  */
  margin-left: 1vw;
}
.events-map-button {
  /* top: 30px; */
  top: 38px;
  right: 30vw;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  margin-left: 1vw;
  border-color: rgba(0, 0, 0, 0);
  margin-right: 1vw;
  border-radius: 20px;
  background-color: rgba(244, 68, 45, 1);
}
.events-map-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #D9D9D9;
}
.events-text02 {
  /* font-size: 40px; */
  font-size: 30px;
  font-family: Comic Sans MS;
}
.events-event-button {
  /* top: 30px; */
  top: 38px;
  right: 39vw;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  border-color: rgba(0, 0, 0, 0);
  /* margin-right: 1vw; */
  margin-right: 2vw;
  border-radius: 20px;
  background-color: rgba(244, 68, 45, 1);
}
.events-event-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #D9D9D9;
}
.events-text04 {
  /* font-size: 40px; */
  font-size: 30px;
  font-family: Comic Sans MS;
}
.events-app-name-text {
  top: 28px;
  left: 149px;
  color: rgba(225, 229, 238, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.events-admin-button {
  /* top: 30px; */
  top: 38px;
  right: 15vw;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  margin-left: 1vw;
  border-color: rgba(0, 0, 0, 0);
  /* margin-right: 1vw; */
  margin-right: -2vw;
  border-radius: 20px;
  background-color: rgba(244, 68, 45, 1);
}
.events-admin-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #D9D9D9;
}
.events-text06 {
  /* font-size: 40px; */
  font-size: 30px;
  font-family: Comic Sans MS;
}
.events-block-events {
  top: 10vh;
  left: 8vw;
  right: 8vw;
  height: 969px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  margin-top: 5vh;
  align-items: flex-start;
  border-color: rgba(244, 68, 45, 1);
  border-width: 5px;
  border-radius: 20px;
  margin-bottom: 5vh;
  justify-content: center;
  background-color: #E1E5EE;
}
.events-text08 {
  top: 23px;
  left: 2vw;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline 5px rgba(244, 68, 45, 1);
}
.events-full-event-list-container {
  top: 15%;
  flex: 0 0 auto;
  left: 5px;
  width: 100%;
  height: 465px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}

/* event cards on events page */
.events-ul {
  height: 419px;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-right: 1.5rem;
  overflow: auto;

  list-style-type: none;
}

.eventEventCardListItem {
  margin-bottom: 10px;
}
/* .eventMapName {
  margin-bottom: 2px;
} */

.eventEventCardButton {
  width: 60vw;
}

.eventEventParticipateButton {
  width: 10vw;
  height: 7vh;
  margin-top: 17vh;
  margin-right: 1vw;
  margin-left: 1vw;
  transition: 0.3s;
  padding-top: 1rem;
  border-color: #000000;
  border-width: 5px;
  padding-left: 0.5rem;
  border-radius: 40px;
  padding-right: 0.5rem;
  /* flex-direction: row; */
  padding-bottom: 1rem;
  /* justify-content: flex-end; */
  background-color: #D9D9D9;
  font-family: Comic Sans MS;
}

.eventEventParticipateButton:hover {
  cursor: pointer;
  text-decoration: underline;
  /* background-color: #D9D9D9; */
}
/*  */

/* styling event creation form */
.createEventForm {
  display: grid;
  gap: 0.5em;
  grid-template-areas: 
  "first-nameLabel . first-nameInput .  . last-nameLabel . last-nameInput";
  grid-template-columns: 14vw 1em 35vw;
  margin-top: 78vh;
  width: 80%;
}

.createEventForm label {
  grid-column: 1;
  font-family: Comic Sans MS;
}
.createEventForm button {
  grid-column: 3;
  border-color: #000000;
  border-width: 5px;
  /* margin-right: 1vw; */
  padding-left: 2rem;
  border-radius: 40px;
  padding-right: 1rem;
  flex-direction: row;
  /* padding-bottom: 1rem; */
  justify-content: flex-end;
  background-color: #D9D9D9;
  font-family: Comic Sans MS;
}

.createEventForm button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.createEventForm input {
  grid-column: 3;
  font-family: Comic Sans MS;
  border-radius: 15px;
  padding-left: 10px;
}
/*  */
.events-footer {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 133px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  margin-top: 5vh;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(244, 68, 45, 1);
}
.events-svg {
  top: -10px;
  right: right;
  height: 5px;
  z-index: 100;
  position: absolute;
}
.events-svg1 {
  top: -20px;
  flex: 1;
  right: right;
  height: 4px;
  z-index: 101;
  position: absolute;
}
.events-footer-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
}
.events-connect-button {
  width: 230px;
  z-index: 101;
  align-self: center;
  transition: 0.3s;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  background-color: rgba(244, 68, 45, 1);
}
.events-connect-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #D9D9D9;
}
.events-text12 {
  /* font-size: 40px; */
  font-size: 30px;
  text-align: center;
  font-family: Comic Sans MS;
}
.events-text14 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  bottom: -43px;
  height: auto;
  margin: auto;
  z-index: 101;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Comic Neue;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
