.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-profile {
  width: 100%;
  height: 1319px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.39);
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(24, 40, 37, 0.699999988079071);
}
.profile-header {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 133px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(244, 68, 45, 1);
}
.profile-app-logo {
  top: 6px;
  left: 26.26727294921875px;
  width: 98px;
  height: 99px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.profile-profile-button {
  /* top: 23px; */
  top: 93px;
  right: 5px;
  /* width: 236px; */
  width: auto;
  display: flex;
  z-index: 101;
  position: absolute;
  text-align: right;
  transition: 0.3s;
  margin-left: 2vw;
  /* padding-top: 1rem; */
  border-color: #000000;
  border-width: 5px;
  margin-right: 1vw;
  padding-left: 2rem;
  border-radius: 40px;
  padding-right: 1rem;
  flex-direction: row;
  /* padding-bottom: 1rem; */
  justify-content: flex-end;
  background-color: #D9D9D9;
}
.profile-profile-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.profile-profile-icon {
  top: 0px;
  left: 10px;
  /* width: 70px; */
  width: 22%;
  bottom: 0px;
  /* height: 70px; */
  height: auto;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
}
.profile-text {
  /* font-size: 40px; */
  font-size: 20px;
  text-align: right;
  font-family: Comic Sans MS;
  /*  */
  margin-left: 1vw;
}
.profile-map-button {
  /* top: 30px; */
  top: 38px;
  right: 30vw;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  margin-left: 1vw;
  border-color: rgba(0, 0, 0, 0);
  margin-right: 1vw;
  border-radius: 20px;
  background-color: rgba(244, 68, 45, 1);
}
.profile-map-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #D9D9D9;
}
.profile-text02 {
  /* font-size: 40px; */
  font-size: 30px;
  font-family: Comic Sans MS;
}
.profile-event-button {
  /* top: 30px; */
  top: 38px;
  right: 39vw;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  border-color: rgba(0, 0, 0, 0);
  /* margin-right: 1vw; */
  margin-right: 2vw;
  border-radius: 20px;
  background-color: rgba(244, 68, 45, 1);
}
.profile-event-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #D9D9D9;
}
.profile-text04 {
  /* font-size: 40px; */
  font-size: 30px;
  font-family: Comic Sans MS;
}
.profile-app-name-text {
  top: 28px;
  left: 149px;
  color: rgba(225, 229, 238, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Comic Neue;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-admin-button {
  /* top: 30px; */
  top: 38px;
  right: 15vw;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  margin-left: 1vw;
  border-color: rgba(0, 0, 0, 0);
  /* margin-right: 1vw; */
  margin-right: -2vw;
  border-radius: 20px;
  background-color: rgba(244, 68, 45, 1);
}
.profile-admin-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #D9D9D9;
}
.profile-text06 {
  /* font-size: 40px; */
  font-size: 30px;
  font-family: Comic Sans MS;
}
.profile-block-user {
  top: 10vh;
  left: 8vw;
  right: 8vw;
  height: 969px;
  display: flex;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  margin-top: 5vh;
  align-items: flex-start;
  border-color: rgba(244, 68, 45, 1);
  border-width: 5px;
  border-radius: 20px;
  margin-bottom: 5vh;
  justify-content: center;
  background-color: #E1E5EE;
}
.profile-text08 {
  top: 23px;
  left: 2vw;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline 5px rgba(244, 68, 45, 1);
}
.profile-user-own-data-container {
  top: 15%;
  flex: 0 0 auto;
  left: 2vw;
  right: 2vw;
  height: 393px;
  display: flex;
  position: absolute;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  align-items: center;
  border-radius: 40px;
  justify-content: flex-start;
  background-color: #ffffff;
}
.profile-username-place {
  top: 4vh;
  flex: 0 0 auto;
  left: 2vw;
  width: 390px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: flex-start;
}
.profile-username-field {
  top: 0px;
  right: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
  border-radius: 15px;
}
.profile-text09 {
  top: 9px;
  left: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
}
.profile-name-place {
  top: 101px;
  flex: 0 0 auto;
  left: 2vw;
  width: 390px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: flex-start;
}
.profile-name-field {
  top: 0px;
  right: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
  border-radius: 15px;
}
.profile-text10 {
  top: 9px;
  left: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
}
.profile-surname-place {
  top: 161px;
  flex: 0 0 auto;
  left: 2vw;
  width: 390px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: flex-start;
}
.profile-surname-field {
  top: 0px;
  right: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
  border-radius: 15px;
}
.profile-text11 {
  top: 9px;
  left: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
}
.profile-email-place {
  top: 225px;
  flex: 0 0 auto;
  left: 2vw;
  width: 390px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: flex-start;
}
.profile-email-field {
  top: 0px;
  right: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
  border-radius: 15px;
}
.profile-text12 {
  top: 9px;
  left: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
}
.profile-description-place {
  top: 4vh;
  flex: 0 0 auto;
  left: 509px;
  width: 762px;
  height: 223px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: flex-start;
}
.profile-description-field {
  top: 1vh;
  right: 19vw;
  width: 70%;
  height: 23vh;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
  border-radius: 15px;
}
.profile-text13 {
  top: -15px;
  left: -25px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
}
.profile-user-search-container {
  top: 55vh;
  flex: 0 0 auto;
  right: 0px;
  width: 474px;
  height: 94px;
  display: flex;
  position: absolute;
  align-self: flex-end;
}
.profile-user-search-place {
  top: 48px;
  flex: 0 0 auto;
  right: 2vw;
  width: 390px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: flex-start;
}
.profile-search-field {
  top: 0px;
  right: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
  border-radius: 15px;
}
.profile-text14 {
  top: 9px;
  left: 0px;
  position: absolute;
  align-self: stretch;
  font-family: Comic Sans MS;
}
.profile-friend-list-container {
  flex: 0 0 auto;
  left: 2vw;
  right: 2vw;
  bottom: 2vh;
  height: 284px;
  display: flex;
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  align-items: flex-start;
  border-radius: 40px;
  justify-content: flex-start;
  background-color: #F4C95D;
}
.profile-text15 {
  top: -86px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline 5px rgba(244, 68, 45, 1);
}
.profile-footer {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 133px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  margin-top: 5vh;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(244, 68, 45, 1);
}
.profile-svg {
  top: -10px;
  right: right;
  height: 5px;
  z-index: 100;
  position: absolute;
}
.profile-svg1 {
  top: -20px;
  flex: 1;
  right: right;
  height: 4px;
  z-index: 101;
  position: absolute;
}
.profile-footer-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
}
.profile-connect-button {
  width: 230px;
  z-index: 101;
  align-self: center;
  transition: 0.3s;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  background-color: rgba(244, 68, 45, 1);
}
.profile-connect-button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #D9D9D9;
}
.profile-text16 {
  /* font-size: 40px; */
  font-size: 30px;
  text-align: center;
  font-family: Comic Sans MS;
}
.profile-text18 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  bottom: -43px;
  height: auto;
  margin: auto;
  z-index: 101;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Comic Neue;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
